<div class="card" id="card">

  <div *ngIf="isHidden() else elseBlock">
    <div class="text-center my-3">
      <h3>Contact Details</h3>
    </div>

    <div class="card-body">
      <div class="text-center">
        <img src="../../../assets/images/default.png" class="rounded-circle" width="150px">
        <div class="mt-2">
          <h4>{{contact.name}}</h4>
          <p class="mb-1">📧 {{contact.email}}</p>
          <p class="mb-1">📱 {{contact.phone}}</p>
          <p class="font-size-sm">{{contact.type}}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="text-center my-5 mx-3">Tap on any Contact To see the details</div>
  </ng-template>
</div>
